*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.wrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.left{
    min-height: 95vh;
    width: 40%;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

h1{
    font-size: 50px;
    margin: 4px;
}

.right{
    margin: 2px;
    min-height: 95vh;
    width: 50%;
    min-width: 350px;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(59, 146, 146);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.right section{
    border: 1px solid white;
    padding: 24px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    min-height: 300px;
}


label{
    font-size: 19px;
}

input{
    font-size: 21px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.crearUsuario{
    display: none;
}

.iniciarSesion{
    display: block;
}

button{
    background-color: rgb(41, 41, 150);
    color: white;
    border-radius: 12px;
    padding: 6px 16px;
    box-shadow: 2px 2px 2x black;
    margin-top: 6px;
    width: 100%;
    font-size: 19px;
    box-shadow: 2px -2px 8px black;
    border:rgb(41, 41, 150) ;
}

.right button{
    margin-top: 14px;
}

button:hover{
    background-color: green;

}

.bienvenido{
    display: none;
}